/* black-ops-one-regular - latin */
@font-face {
    font-family: 'Black Ops One';
    font-style: normal;
    font-weight: 400;
    src: url('./resources/fonts/black-ops-one-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./resources/fonts/black-ops-one-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./resources/fonts/black-ops-one-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./resources/fonts/black-ops-one-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./resources/fonts/black-ops-one-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./resources/fonts/black-ops-one-v20-latin-regular.svg#BlackOpsOne') format('svg'); /* Legacy iOS */
}

body {
    margin: 0;
    font-family: 'Black Ops One';
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* HEADER */

.header {
    width: 100vw;
    height: 10vh;
    text-align: center;
    background-color: black;
    color: white;
}

/* MAIN */

.main {
    width: 95vw;
    height: 66vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* FOOTER */

.footer {
    width: 80vw;
    height: 20vh;
    text-align: center;
    background-color: black;
    color: white;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
}